body{
	padding-top: 60px;
}
header{
	margin: 0 auto;
	max-width: 1070px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
ul{
	width: 600px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.txt-logo{
	font-size: 30px;
	padding: 4px;
	text-transform: uppercase;
	background-color: #EABBBB;
}
a{
	font-size: 14px;
	padding: 4px;
	text-transform: uppercase;
	color: black;
	background-color: #EABBBB;
}
.section1{
	margin: 0 auto;
	margin-top: 67px;
	max-width: 1070px;
	width: 100%;
	height: auto;
}
.section2{
	margin: 0 auto;
	margin-top: 90px;
	max-width: 900px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.text-box{
	display: flex;
	flex-direction: column;
}
.header-left{
	display: inline-block;
	font-size: 14px;
	color: #B4AD9E;
	text-transform: uppercase;
	background-color: #EABBBB;
	padding: 4px;
}
h1{
	display: inline-block;
	font-size: 30px;
	color: #626262;
	background-color: #EABBBB;
	padding: 4px;
	margin-top: 22px;
}
.text1{
	font-size: 14px;
	/*width: 900px;*/
	color: #626262;
	background-color: #EABBBB;
	margin-top: 40px; 
}
.form1{
	margin-top: 77px;
}
.input-box{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
label{
	text-transform: uppercase;
	font-size: 14px;
	color: #B4AD9E;
	text-decoration-color: #EABBBB;
}
.input1{
	max-width: 900px;
	width: 100%;
	height: auto;
}
.section3{
	margin: 0 auto;
	margin-top: 100px;
	/*padding-left: 90px;*/
	max-width: 900px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.text2{
	font-size: 14px;
	color: #626262;
	background-color: #EABBBB;
	margin-top: 40px; 
}
.left-block{
	width: 420px;
	display: flex;
	flex-direction: column;
}
.header-left1{
	margin-top: 25px;
	width: 70px;
	font-size: 14px;
	color: #B4AD9E;
	text-transform: uppercase;
	background-color: #EABBBB;
	padding: 4px;
}
.header-left2{
	margin-top: 25px;
	width: 87px;
	font-size: 14px;
	color: #B4AD9E;
	text-transform: uppercase;
	background-color: #EABBBB;
	padding: 4px;
}
.section4{
	margin: 0 auto;
	margin-top: 130px;
	background-color: #F0F0F0;
	/*padding-left: 90px;*/
	max-width: 1070px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.label2{
	font-size: 30px;
	background-color: #EABBBB;
	margin-top: 60px;
	margin-bottom: 80px;
}
.form2{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.input2{
	font-size: 14px;
	color: #626262;
	background-color: #EABBBB;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 80px;
}
.button{
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 200px;
}
.section5{
	background-color: #F0F0F0;
	margin: 0 auto;
	/*padding-left: 90px;*/
	max-width: 1070px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.text-footer{
	font-size: 14px;
	background-color: #EABBBB;
	margin-left: 30px;
}
.footer-left{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.footer-right{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-bottom: 40px;
}
.logo-footer{
	height: 13px;
	width: auto;
	margin-left: 10px;
}
.footer-images{
	margin-right: 70px;
}

@media screen and (max-width: 1024px){
	body{
	padding-top: 30px;
}
header{
	justify-content: space-around;
}
.section1{
	max-width: 1024px;
}
.main-photo{
	width: 900px;
	margin-left: 60px;
}
.section4{
	max-width: 1024px;
}
.section5{
	max-width: 1024px;
}
}

@media screen and (max-width: 768px){
	body{
	padding-top: 30px;
}
header{
	margin: 0 auto;
	max-width: 768px;
}
ul{
	margin: 0 auto;
	width: 500px;
}
.section1{
	margin-top: 47px;
	max-width: 768px;
}
.main-photo{
	width: 700px;
	height: auto;
	margin-left: 35px;
}
.section2{
	margin-top: 60px;
	max-width: 568px;
	justify-content: center;
}
.form1{
	margin-top: 57px;
}
.input-box{
	justify-content: center;
}
.input1{
	max-width: 568px;
}
.section3{
	max-width: 768px;
	margin-left: 180px;
	flex-direction: column;
}
.section4{
	max-width: 768px;
}
.label2{
	font-size: 30px;
}
.input2{
	font-size: 20px;
}
.button{
	margin-left: 160px;
}
.section5{
	max-width: 768px;
}
}
